body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    color: #2e2e2e;
}
#player-head {
    text-align: center;
}
#player-controls-top {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: start;
    margin: 20px auto 10px 0px;
}
#player-start-control {
    margin-left: 15px;
    text-align: left;
    font-weight: bolder;
}
#start-input {
    margin-left: 10px;
    border-radius: 10px;
    border-color: #FF3434;
    border-width: 2px;
    padding: 4px;
    color: #2e2e2e;
    font-weight: bold;
    font-size: 14px;
    width: 40px;
}
#start-input:disabled {
    border-color: #FA93A7;
}
#player-btns-container {
    display: flex;
}
.player-btns {
    background-color: #FF3434;
    color: #FFFFFF;
    border: 0;
    font-weight: bold;
    padding: 15px 15px;
    border-radius: 30px;
    cursor: pointer;
}
.player-btns:hover {
    background-color: #F71919;
}
.player-btns:active {
    background-color: #cc1010;
}
.player-btns:disabled {
    background-color: #FA93A7;
}
#play-btn {
    font-size: 20px;
    padding: 9px 11px 13px 14.21px;
    border-radius: 22.5px;
    margin-right: 20px;
    margin-left: 10px;
}
#load-btn {
    margin-left: 10px;
}
#tempo-text {
    font-weight: bold;
    font-size: 16px;
}
#tempo-slider {
    accent-color: #FF3434;
    width: 240px;
}
#song-name-text {
    color: #FF3434;
    font-size: 40px;
    font-weight: normal;
    margin-top: 40px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
#artist-text {
    margin-top: 0px;
    margin-bottom: 15px;
    padding-top: 0px;
    font-weight: normal;
    font-style: italic;
    font-size: 32px;
}
#tabsheet-img {
    width: 100%;
    min-width: 360px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#tabsheet {
    padding: 15px 0px 15px 15px;
    width: 99%;
    min-width: 1870px;
}
#tabsheet-canvas {
    width: 100%;
    height: 620px;
}
#tabsheet-canvas text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.footer {
    background-color: #2e2e2e;
}
#footer-text {
    color: #FFFFFF;
    padding: 15px 0px;
    margin-left: 15px;
    margin-bottom: 0;
}
#player-footer-text {
    color: #FFFFFF;
    padding: 0px;
    margin: 0px;
}
#player-footer {
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 0;
    margin: 0 15px;
}
#admin-login-link {
    color: #FFFFFF;
    margin: 0px;
    text-decoration: none;
    font-style: italic;
}
#song-list {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    justify-content: center;
    align-items: flex-start;
    font-size: 18px;
}

/* SONG LIST DROPDOWN */
#song-list-btn {
    background-color: #FF3434;
    color: white;
    padding: 16px;
    font-size: 16px;
    font-weight: bolder;
    border: none;
    width: 100%;
    text-align: left;
    box-shadow: 1px 2px 3px #b9b9b9;
}
#dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}
#song-list-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    width: 100%;
    text-align: left;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer;
    max-height: 360px;
    overflow: auto;
}
#song-list-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
#song-list-content a:hover {
    background-color: #ddd;
}
#dropdown:hover #song-list-content {
    display: block;
}
#dropdown:hover #song-list-btn {
    background-color: #F71919;
}

#hint-btn {
    border: none;
    background: none;
    padding: 0;
    border-bottom: 1px dotted black;
    font-size: 16px;
    font-family: inherit;
    margin: 10px 15px 0px 0px;
    float: right;
    cursor: help;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.hint-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    text-align: left;
}
.close-hint {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close-hint:hover,
.close-hint:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*
@media screen and (min-width: 1200px) {
    #tabsheet-img {
        width: 65%;
    }
    #player-controls-top {
        margin-left: 17.5%;
    }
    #player-start-control {
        margin-left: 18.25%;
    }
    #footer-text {
        margin-left: 17.5%;
    }
    #song-list {
        width: 64%;
    }
    #player-footer {
        margin: 0 18.25%;
    }
}
*/

/*
  ADMIN STYLES START HERE
*/

.admin-menu {
    list-style-type: none;
    margin: 0 0 40px 0;
    padding: 0;
    overflow: hidden;
    background-color: #FF3434;
    box-shadow: 1px 2px 3px #b9b9b9;
}
.admin-menu-li {
    float: left;
    display: inline;
    cursor: pointer;
}
.admin-menu-a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 600;
}
.admin-menu-a:hover {
    background-color: #F71919;
}
.admin-menu-active {
    background-color: #F71919;
}
#admin-logout-btn {
    float: right;
    font-style: italic;
}
#fretboard-img {
    width: 1200px;
    display: block;
    margin: auto;
}
area {
    cursor: pointer;
}
#admin-h2 {
    margin-left: 15px;
}
.metadata-input {
    resize: none;
    border-radius: 10px;
    border-color: #FF3434;
    border-width: 2px;
    padding: 4px;
    color: #2e2e2e;
    font-weight: bold;
}
#output-textarea {
    resize: vertical;
    height: 400px;
    width: 300px;
    border-radius: 8px;
    border-color: #FF3434;
    border-width: 2px;
    color: #2e2e2e;
    font-weight: bold;
    margin-bottom: 25px;
    font-size: 14px;
}
#generator-controls {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}
#harmony-controls {
    margin-left: 50px;
}
.generator-controls-text {
    margin: 0 0 8px 0;
    font-weight: bolder;
    font-size: 18px;
}
.tuning-info-text {
    margin: 0;
}
.generator-btn {
    margin-top: 8px;
    background-color: #FF3434;
    color: #FFFFFF;
    border: 0;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 16px;
    cursor: pointer;
}
.generator-btn:hover {
    background-color: #F71919;
}
.generator-btn:active {
    background-color: #cc1010;
}
.generator-btn:disabled {
    background-color: #FA93A7;
}
.generator-selector {
    border-radius: 8px;
    border-color: #FF3434;
    border-width: 2px;
    color: #2e2e2e;
    font-weight: bold;
}
#output-text {
    font-weight: bolder;
    margin-bottom: 8px;
}
.prevent-select {
    user-select: none; 
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
}
#output-div {
    margin-left: 15px;
}
#error-message {
    margin: 3px 0;
    font-weight: bolder;
    font-style: italic;
}
.dot-radio {
    accent-color: #FF3434;
}
#add-tab-controls {
    margin-left: 15px;
}
.add-inputs {
    resize: none;
    border-radius: 10px;
    border-color: #FF3434;
    border-width: 2px;
    padding: 4px;
    color: #2e2e2e;
    font-weight: bold;
    width: 340px;
}
#upload-tab-btn {
    display: none;
}
.file-upload-btn {
    border: 1px solid #FF3434;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
#check-tab-btn {
    margin-left: 8px;
}
/*
#footer-add-tab {
    margin-top: 61vh;
}
*/

#library-table {
    margin-left: 15px;
    border-bottom: 2px solid #FF3434;
}
.library-tab {
    border-bottom: 2px solid #FF3434;
}
td {
    padding-top: 8px;
    padding-bottom: 8px;
}
#display-name-column {
    width: 50vw;
    text-align: left;
}
.library-btn {
    background-color: #FF3434;
    color: #FFFFFF;
    border: 0;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 16px;
    cursor: pointer;
}
.library-btn:hover {
    background-color: #F71919;
}
.library-btn:active {
    background-color: #cc1010;
}
.library-btn:disabled {
    background-color: #FA93A7;
}
.library-download-tab {
    color: #FFFFFF;
}
#main-content-login {
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#login-panel {
    background-color: #ffdede;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 10px 30px 30px 30px;
    border-radius: 20px;
    color: #753B3B;
    box-shadow: 1px 2px 3px #b9b9b9;
}
#login-header {
    margin-bottom: 5px;
}
.login-input {
    border: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px 7px;
    margin-top: 4px;
    box-shadow: 1px 2px 3px #b9b9b9;
}
#login-submit {
    margin-top: 10px;
    margin-left: 43px;
    font-size: 15px;
    font-weight: bolder;
    background-color: #FF3434;
    color: #FFFFFF;
    border: 0;
    padding: 8px 12px;
    border-radius: 16px;
    cursor: pointer;
}
#login-submit:hover {
    background-color: #F71919;
}
#login-submit:active {
    background-color: #cc1010;
}

@media screen and (min-width: 1200px) {
    #admin-menu-items {
        margin-left: 17.5%;
    }
    #admin-h2 {
        margin-left: 17.5%;
        padding-left: 0;
    }
    #generator-controls {
        margin-left: 17.5%;
    }
    #output-div {
        margin-left: 17.5%;
    }
    #add-tab-controls {
        margin-left: 17.5%;
    }
    #library-table {
        margin-left: 17.5%;
    }
}

@media screen and (max-width: 1199px) {
    #fretboard-img {
        margin-left: 10px;
    }
}